*{
    margin: 0;
    padding: 0;
}
:root {
  --heading-1 : 110px;
  --heading-2: 80px;
  --heading-3: 40px;
  --para-font-size: 20px;
  --main-font-color: rgba(35, 97, 146, 1);
  --para-font-color:rgba(112, 120, 118, 1);
  ;
}



/* Nav Start */
nav{
  background: linear-gradient(180deg, #225E8D 0%, #28689A 100%);
  font-family: "Asap", sans-serif;
  color: rgba(255, 255, 255, 1);
  display: flex;
  align-items: center;
  padding: 1.5% 0px 1.5% 6% ;

}

.logo-pic img{
  width: 100%;
}
.nav-links{
  display: flex;

}
#nav-links{
  margin-left: 13vw  ;

}
.nav-links li {
  list-style: none;
  text-transform: capitalize;
  margin: 0px 2.5% 0px 2.5% ;
  

}
.nav-links li a{
  text-decoration: none;
  color: rgba(255, 255, 255, 1);
  font-size: 19px;
  letter-spacing: 1.5px;
  display: inline-block;
}
.nav-link-big-width {
  width: 135px;
}
.hamburger{
  display: none;
  font-size: 25px;
  color: white;
  cursor: pointer;
}

.mobile-nav{
  display: none;
}
.mobile-nav-links{
  display: none;
}

.hero-main{
  background-image: url('../Images/Home/hero-section-bg.png');
  background-repeat: no-repeat;
  background-size: cover;
  height: 100vh;
  
}
.hero-inner-text{
  font-family: Bellota Text;
  text-align: center;
  color: whitesmoke;
  position: relative;
  top: 165px;
}
.hero-inner-text h1{
  font-size: var(--heading-1);
  line-height: 100px;
  text-transform: uppercase;
  width: 75%;
  margin: 0 auto;
}
.hero-inner-text h6{
  font-size: 45px;
  font-weight: normal;
  line-height: 40px;
  margin: 2% auto;
  width: 50%;
}

/* ----------------------------------------------MID SECTION PART 1----------------------------------------------------- */
.mid-section-main{
  padding: 3% 10% 3% 10%;
}

.mid-section{
  font-family: Bellota Text;
  display: flex;
  justify-content: space-between;
}
.mid-section-part-1{
  max-width: 50%;
  margin: 8% 0% 8% 0%;
}
.mid-section-part-1 h1{
  font-size: var(--heading-3);
  text-transform: uppercase;
  color: var(--main-font-color);
  line-height: 45px;
  width: 80%;
}
.mid-section-part-1 p{
  font-size: var(--para-font-size);
  color: var(--para-font-color);
  line-height: 28px;
  width: 80%;
}

.divider{
  border-top: 6px solid rgba(163, 173, 170, 1);
  margin: 2% -10% 2% 10%;
}

.mid-section-part-2{
  max-width: 50%;
}
.mid-section-part-2 img{
  width: 90%;
  height: 90%;
  position: relative;
  left: 10%;
}

.mid-section-part-1-mobile-heading{
  font-size: 30px;
  line-height: 34px;
  padding: 20px 5px 20px 5px;
  text-align: center;
  text-transform: uppercase;
  color: var(--main-font-color);
  display: none;
}
/* ----------------------------------------------MID SECTION PART 2----------------------------------------------------- */
.mid-section-right{
  font-family: Bellota Text;
  display: flex;
  justify-content: space-between;
}
.mid-section-right-part-1{
  max-width: 50%;
  text-align: right;
  margin: 8% 0% 8% 0%;
}
.mid-section-right-part-1 h1{
  font-size: var(--heading-3);
  text-transform: uppercase;
  color: var(--main-font-color);
  line-height: 45px;
  width: 100%;
}
.mid-section-right-part-1 p{
  font-size: var(--para-font-size);
  color: var(--para-font-color);
  line-height: 28px;
  width: 100%;

}
.mid-section-part-2-pic-2{
  max-width: 50%;
}

.mid-section-part-2-pic-2 img{
  width: 90%;
  height: 90%;
}
.divider-pic-2{
  border-top: 6px solid rgba(163, 173, 170, 1);
  margin: 2% 10% 2% -10%;
}
.web-button{
  height: 32px;
  width: 155px;
  border-radius: 20px;
  border: 1px solid var(--main-font-color);
  color: var(--main-font-color);
  box-shadow: 0px 10px 10px 0px rgba(0, 0, 0, 0.16);
  margin: 20px 8px 8px 8px;
  font-family: Almarai;
}


/* ------------------------------------------------------------------------------------------------------------------- */
.giving-section{
  margin: 120px 0px 30px 0px ;
}
.giving-section h1{
  font-size: var(--heading-2);
  text-transform: uppercase;
  color: var(--main-font-color);
  font-family: Bellota Text ;
  text-align: center;
  font-weight: normal;
  margin-bottom: 40px;
}
.giving-inner{
  width: 100%;
  height: 280px;
  background: rgba(226, 232, 237, 1);
  display: flex;
  align-items: center;
  justify-content: center;
}
.giving-text{
  border: 4px solid rgba(255, 255, 255, 1);
  width: 800px;
}
.giving-text p{
  font-family: Bellota Text;
  text-align: center;
  font-size: var(--para-font-size);
  color: var(--para-font-color);
  padding: 50px 180px 50px 180px;

}

/* -------------------------------------------------------------------------------------------------------------------------- */


.section-3{
  display: flex;
  font-family: Bellota Text;
  margin: 3% 0px 3% 0px;

}
.section-3-part-2{
  display: flex;
  margin: 3% 0px 3% 0px;
  font-family: Bellota Text;
}

.section-3-left{
  max-width: 50%;
  background: linear-gradient(180deg, #F1F1F1 0%, #E2E8ED 100%);
  height: 100vh;
}

.section-3-right{
  max-width: 50%;
  height: 100vh;
}
.section-3-right img{
  width: 100%;
  height: 100vh;
}

.section-3-left-bg {
  border: 4px solid rgba(255, 255, 255, 1);
  position: relative;
  z-index: 9999;
  left: 12vw;
  top: 20vh;
  height: 60vh;
  width: 100%;
}
.section-3-left-bg-2{
  border: 4px solid rgba(255, 255, 255, 1);
  position: relative;
  z-index: 9999;
  right: 10vw;
  top: 16vh;
  height: 62vh;
  width: 100%;
}
.section-3-left-inner {
  padding: 8% 35% 0% 10%;
}
.section-3-left-inner-2{
  padding: 6% 10% 0% 30%;
}
.section-3-left-inner h1{
  color: var(--main-font-color);
  font-size: 42px;
  font-weight: 200;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 12px;
}
.section-3-left-inner p{
  font-size: var(--para-font-size);
  line-height: 25px;
}
.section-3-left-inner-2 p{
  font-size: var(--para-font-size);
  line-height: 25px;
}
.section-3-para-bold{
  font-weight: bolder;
  margin-top: 25px;
  font-size: var(--para-font-size);
}
.section-3-left-inner-2 h1{
  color: var(--main-font-color);
  font-size: 42px;
  font-weight: 300;
  line-height: 45px;
  text-transform: uppercase;
  margin-bottom: 12px;
}



/* ------------------------------------------------------------------------------------------------------------------------------- */
.section-team{
  font-family: Bellota Text;
  text-align: center;
  margin: 9% auto;
}
.section-team-text{
  margin: 12% 10% 10% 10%;
}
.section-team-text h1{
  font-family: Bellota Text;
  font-size: var(--heading-2);
  font-weight: 400;
  color: var(--main-font-color);
  text-transform: uppercase;
}
.section-team-text p{
  margin: 3% auto;
  color: var(--para-font-color);
  font-weight: 800;
  line-height: 28px;
  font-size: var(--para-font-size);
  width: 70%;
}
.section-team-carts{
  display: flex;
  gap: 4%;
  justify-content: center;
  padding: 0% 2% 0% 2%;
}
.team-cart-pic img{
  width: 90%;
}
.team-cart h4{
  font-size: 26px;
  margin-top: 22%;
  color: var(--para-font-color);
}
.team-cart p{
  font-size: 20px;
  color: var(--para-font-color);
}


.faq-section{
  font-family: Bellota Text;
  margin: 180px 100px 180px 100px;
}

.faq-section h1{
  font-family: Bellota Text;
  font-size: 80px;
  font-weight: 400;
  line-height: 100px;
  color: var(--main-font-color);
  text-transform: uppercase;
  text-align: center;
  margin-bottom: 60px;
 
}
.faq-section-lower{
  background-color: rgba(240, 240, 240, 1);
  border-radius: 10px ;
  height: 240px;
  width: 98%;
  margin: 20px auto;
}
.faq-inner{
  padding: 70px 0px 0px 90px ;
}
.faq-inner h4{
  font-size: 26px;
  font-weight: 900;
  text-transform: uppercase;
  color: var(--para-font-color);

}
.faq-inner p{
  margin-top: 18px;
  font-size: 20px;
  font-weight: 800;
  color: var(--para-font-color);
  width: 900px;
}





.insight-section{
  font-family: Bellota Text;
  background: linear-gradient(180deg, #F0F0F1 0%, #E3E9EE 100%);
}


.insight-section h1{
  font-size: 80px;
  font-weight: 400;
  line-height: 85px;
  color: var(--main-font-color);
  text-transform: uppercase;
  text-align: center;
  padding-top: 30px
}




.testimonial-section{
  margin-top: 400px;
  background: linear-gradient(180deg, #E2E8ED 0%, #F0F0F0 100%);

}
.testimonial-section h1{
  font-family: Bellota Text;
  font-size: 80px;
  font-weight: 400;
  line-height: 80px;
  color: var(--main-font-color);
  text-transform: uppercase;
  text-align: center;
  padding: 50px 0px 20px 0px;
}




.wiper-track {
  display: grid;
  grid-template-columns: repeat(6, 1fr);
  column-gap: 5.5rem;
  margin: 0 auto;
  transition: transform 0.4s ease-in;
  padding: 0 1rem;
}
.wiper-item {
  width: 250px;
  height: 400px;
  position: relative;
  transition: scale 0.2s linear;
}

.wiper {
  max-width: 1250px;
  position: relative;
  margin: 0 auto;
}
.active-swipe {
  transform: scale(1.2);
}
.wiper-button {
  margin: 0 1rem;
  height: 70px;
  width: 45px;
  position: absolute;
  top: 50%;
  background: transparent;
  border: none;
  transform: translateY(-50%);
  z-index: 1;
}
.wiper-button__left {
  right: 0;
  transform: translateY(-50%) rotate(180deg);
}
.wiper__image-button {
  right: 50%;
  top: 50%;
  position: absolute;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background-color: white;
  border: none;
  font-size: 1.4rem;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}
.wiper-wrapper {
  max-width: 1100px;
  overflow: hidden;
  padding: 4rem 0.5rem;
  margin: 0 auto;
}
.swiper__image-button {
  right: 50%;
  top: 50%;
  position: absolute;
  padding: 0.8rem 1rem;
  border-radius: 3px;
  background-color: white;
  border: none;
  font-size: 1rem;
  transform: translateY(-50%) translateX(50%);
  cursor: pointer;
}


.is-hidden{
  display:none;
}





.testimonial-img img{
  width: 65%;
  margin: 0px 0px 0px 25%;
}
.testimonial-text{
  text-align: center;
  background-color: white;
  width: 100% ;
  height: 165px;
  padding: 90px 20px 0px 20px;
  margin: -85px 0px 0px 0px;
  border-radius: 10px;
  box-shadow: 2px 2px 5px var(--para-font-color);
}
.testimonial-text h4{
  font-family: Bellota Text;
  font-size: 19px;
  font-weight: 700;
  line-height: 23.9px;
  color: var(--main-font-color);
  text-transform: uppercase;
}
.testimonial-text h5{
  font-family: Bellota Text;
  font-size: 13px;
  font-weight: 700;
  line-height: 13px;
  color: var(--main-font-color);
}
.testimonial-text p{
  color: var(--para-font-color);
  margin-top: 12px;
  font-size: 12px;

}



footer{
  background: var(--main-font-color);
  font-family: Bellota Text ; 
  color: white;
 
}

.footer-inner{
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  padding: 50px;
  gap: 50px;
}
.footer-inner h1{
  letter-spacing: 7px;
  text-align: center;
}
.footer-logo-main{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
  gap: 20px;
}
.footer-logo img{
  width: 60%;
}
.linkedin-icon img{
  width: 70%;
}
.footer-end{
  border-top: 1px solid white;
  width: 100%;
  height: 25px;
}















































































































/* ---------------------------------------------------------INVESTMENT PAGE----------------------------------------------------------- */

#hero-invest-bg-img{
  background-image: url(../Images/Investment/invest-hero-bg.png);
}
.different-section{
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: center;
}
.different-section-lower{
  background: linear-gradient(180deg, #F1F1F1 0%, #E1E7EC 100%);
  width: 100%;
  height: 650px;
}
.different-text{
  color: rgb(88, 95, 93);
  width: 50%;
  text-align: left;
  font-size: 21px;
  margin: 1px auto;
  padding: 5% 0% 5% 0%;
 
}
.different-text p{
  margin-top: 4%;
  color:  rgba(112, 120, 118, 1);
}
.different-text-bold{
  text-transform: uppercase;
  font-weight: 500;
  color: rgba(0, 0, 0, 0.756);
  font-size: 24px;
  letter-spacing: 1px;
}

.invest-certeria-inner{
  display: flex;
  justify-content: center;
}
.invest-certeria-text{
  max-width: 50%;
  text-align: left;
  padding: 10% 50px 0px 50px ;
}
.invest-certeria-text p{
  font-size: 20px;
  color: rgb(118, 115, 115) ;
  font-weight: bold;
}
.invest-certeria-text h2{
  color: rgba(35, 97, 146, 1);
  margin: 5% 0px 5% 2%;
  font-size: 35px;
}
.invest-certeria-img{
  max-width: 50%;
}
.invest-certeria-img img{
  width: 90%;
}


.invest-spotlight-lower-text{
  text-align: left;
  padding: 50px 25% 50px 25%;
}
.spotlight-lower-text-inner{
  margin: 40px 0px 0px 0px;
  
}

.spotlight-lower-text-inner h2{
  color: rgba(35, 97, 146, 1);
  font-size: 34px;
  font-weight: 400;
  width: 100%;
}
.spotlight-lower-text-inner li {
  color: rgba(35, 97, 146, 1);
  font-size: 34px;
  font-weight: 400;
  margin-top: 8%;
}

.spotlight-lower-text-inner p{
  color: rgba(112, 120, 118, 1);
  font-size: 20px;
  font-weight: 600;
  margin-top: 5%;
}





.invest-spotlight-inner{
  display: flex;
}
.invest-spotlight-text{
  max-width: 50%;
  padding: 55px 0px 0px 25px;
  background: rgba(226, 232, 237, 1);
}
.invest-spotlight-text-border{
  border: 4px solid white;
  position: relative;
  z-index: 9999;
  left: 12%;
  top: 10%;
}
.invest-spotlight-text-border p{
  padding: 8% 18% 8% 6%;
  font-size: 20px;
  text-align: left;
  color:  rgba(112, 120, 118, 1);
  font-weight: 700;
  line-height: 28px;
}
.invest-spotlight-img{
  max-width: 50%;
  background: rgba(226, 232, 237, 1);
}
.invest-spotlight-img img{
  width: 100%;
}


.invest-spotlight-last{
  background: rgba(240, 240, 240, 1);
  display: flex;
  width: 60%;
  border-radius: 100px 100px 100px 0px;
  padding: 20px 0px 15px 40px;
  margin: 10px auto;
}
.invest-spotlight-last-text{
  margin: auto;
}
.invest-spotlight-last-text h2{
  color: rgba(35, 97, 146, 1);
  text-transform: uppercase;
  text-align: right;
}
.invest-spotlight-last-text p{
  color: rgba(112, 120, 118, 1);
  text-align: right;
  font-size: 20px;
}

.invest-spotlight-last-img{
  margin-left: 20px;
}
.invest-spotlight-last-img img{
  width: 80%;
}

.invest-contact{
  background: linear-gradient(180deg, #F1F1F2 0%, #E2E8ED 100%);
  width: 100%;
  height: 400px;
  font-family: Bellota Text;
  margin: 20px 0px 40px 0px;
}
.invest-contact-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  flex-direction: column;
  padding: 40px 0px 40px 0px;
  text-align: center;
}
.invest-contact-inner h2{
  color: rgba(35, 97, 146, 1);
  font-size: 60px;
  font-weight: 500;
}
.invest-contact-inner p{
  color: rgba(112, 120, 118, 1);
  font-size: 20px;
  margin-top: 20px;
  font-weight: 600;
  text-align: center;
  width: 40%;
}
.invest-contact-inner form{
  margin-top: 20px;
}
.contact-msg{
  width: 500px;
  height: 40px;
  border-radius: 10px;
  border-color: white;
  font-size: 20px;
  padding: 5px;
  text-align: center;
}
.contact-button{
  height: 40px;
  width: 32%;
  font-size: 20px;
  font-family: Bellota Text;
  border-radius: 50px;
  margin: 5%;
  border: 1px solid rgba(35, 97, 146, 1) ;
  color: rgba(35, 97, 146, 1);
  background-color: white;
  cursor: pointer;
  box-shadow: 5px 5px 8px gray;
}


/* --------------------------------------------------------BOARD PAGE-------------------------------------------------------- */

#hero-borad-bg-img{
  background-image: url(../Images/board/board-pic\ \(8\).png);
}


.board-mid-section-right-img{
  display: flex;
  font-family: Bellota Text;
  margin-top: 3%;
}
.board-mid-section-right-img-part-1{
  max-width: 50%;
  background: linear-gradient(180deg, #F1F1F1 0%, #E2E8ED 100%);
}
.board-mid-section-right-img-part-2{
  max-width: 50%;
}
.board-mid-section-right-img-part-2 img{
  width: 100%;
  height: 100%;
}
.board-mid-section-right-border{
  border: 3px solid white;
  position: relative;
  z-index: 9999;
  margin-top: 10%;
  margin-bottom: 10%;
  left: 15%;
}
.board-mid-section-right-inner{
  padding: 8% 30% 20% 6%;
}
.board-mid-section-right-inner h1{
  color: rgba(35, 97, 146, 1);
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;
  line-height: 60px;

}
.board-mid-section-right-inner h2{
  color: rgba(35, 97, 146, 1);
  font-size: 32px;
  font-weight: 500;
  line-height: 40px;
  text-transform: uppercase;
}
.board-mid-section-right-inner p{
  color: rgba(112, 120, 118, 1);
  font-size: 20px;
}
.board-bold-text{
  font-weight: bolder;
  font-size: 17px;
}
.board-bold-para{
  font-weight: bolder;
}
.board-ms-icon img{
  width: 4%;
}
.board-mid-section-left-inner a{
  text-decoration: none;
  font-size: 20px;
  color: rgba(112, 120, 118, 1);
}
.board-mid-section-right-inner a{
  text-decoration: none;
  font-size: 20px;
  color: rgba(112, 120, 118, 1);
}



.board-mid-section-left-img{
  display: flex;
  font-family: Bellota Text;
  margin-top: 8%;
}
.board-mid-section-left-img-part-2{
  max-width: 50%;
  background: linear-gradient(180deg, #F1F1F1 0%, #E2E8ED 100%);
}
.board-mid-section-left-img-part-1{
  max-width: 50%;
}
.board-mid-section-left-img-part-1 img{
  width: 100%;
  height: 100%;
}
.board-mid-section-left-border{
  border: 3px solid white;
  position: relative;
  z-index: 9999;
  margin-top: 12%;
  margin-bottom: 10%;
  right: 14%;
}
.board-mid-section-left-inner{
  padding: 8% 3% 20% 22%;
}
.board-mid-section-left-inner h1{
  color: rgba(35, 97, 146, 1);
  font-size: 60px;
  line-height: 60px;
  font-weight: 400;
  text-transform: uppercase;

}
.board-mid-section-left-inner h2{
  color: rgba(35, 97, 146, 1);
  font-size: 32px;
  font-weight: 500;
  text-transform: uppercase;
}
.board-mid-section-left-inner p{
  color: rgba(112, 120, 118, 1);
  font-size: 20px;
}


.board-join-us{
  margin: 5% 0px 5% 0px;
  text-align: center;
  font-family: Bellota Text;
  background: rgba(232, 238, 243, 1);
}
.board-join-us-text{
  width: 60%;
  margin: 0px auto;
  padding: 5%;
}
.board-join-us-text h1{
  color: rgba(35, 97, 146, 1);
  font-size: 60px;
  text-transform: uppercase;
  font-weight: 300;

}
.board-join-us-text p{
  color: rgba(112, 120, 118, 1);
  font-weight: bolder;
  font-size: 20px;
  margin: 3% auto;
  width: 80%;
}
.board-join-us-text button{
  margin-top: 5%;
  width: 30%;
  height:45px;
  background-color: white;
  border-radius: 50px;
  font-family: Bellota Text;
  font-size: 18px;
  border: 2px solid rgba(35, 97, 146, 1);
  color: rgba(35, 97, 146, 1);
  letter-spacing: 1px;
  box-shadow: 3px 3px 10px gray;
}







/* ------------------------------------------------------SOCIAL IMPACT PAGE------------------------------------------------------- */
#hero-social-bg-img{
  background-image: url(../Images/social/social-pic\ \(1\).png);
}

.mid-section-part-1-span{
  font-size: 33px;
  line-height: 33px;
  margin-bottom: 8%;
}
.social-contact{
  background: rgba(225, 231, 236, 1);
  font-family: Bellota Text;
}
.social-contact-inner{
  text-align: center;
  padding: 5%;
}
.social-contact-inner p{
  color: rgba(112, 120, 118, 1);
  font-size: 20px;
  font-weight: 500;
  width: 50%;
  margin: 0 auto;
}
.social-page-button{
  margin-top: 4%;
  width: 15%;
  height:40px;
  background-color: white;
  border-radius: 50px;
  font-family: Bellota Text;
  font-size: 16px;
  border: 2px solid rgba(35, 97, 146, 1);
  color: rgba(35, 97, 146, 1);
  letter-spacing: 1px;
  box-shadow: 3px 3px 10px gray;
}
.social-help{
  text-align: center;
  margin: 8% 0px 8% 0px;
  font-family: Bellota Text;
}
.social-help-text h1{
  color: rgba(35, 97, 146, 1);
  text-transform: uppercase;
  font-size: 68px;
  font-weight: 400;
}
.social-help-text-p{
  margin: 40px auto;
  width: 80%;
  color: rgba(112, 120, 118, 1);
  font-size: 25px;
  font-weight: bolder;
  background: rgba(225, 231, 236, 1);
  border-radius: 20px;
  padding: 4% 5% 4% 5% ;
}
.social-help-note{
  color: rgba(35, 97, 146, 1);
  font-weight: 900;
  width: 45%;
  margin: 8% auto 0% auto;
  font-size: 22px;
}

.social-mcdonald{
  width: 50%;
  margin: 3% auto;
}
.social-mcdonald-inner{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
.social-mcdonald-inner-img img{
  width: 80%;
  margin-left: 30%;
}
.social-mcdonald-inner-form{
  padding: 5% 3% 3% 3%;
  text-align: center;
}
.social-form-input{
  width: 300px;
  height: 45px;
  font-size: 15px;
  background: rgba(240, 240, 240, 1);
  border: 0px solid white;
  border-radius: 10px;
  margin-top: 15px;
  padding-left: 10px;
}
.social-contact-page-button{
  margin-top: 4%;
  width: 50%;
  height:40px;
  background-color: white;
  border-radius: 50px;
  font-family: Bellota Text;
  font-size: 16px;
  border: 2px solid rgba(35, 97, 146, 1);
  color: rgba(35, 97, 146, 1);
  letter-spacing: 1px;
  box-shadow: 3px 3px 10px gray;
}



/* --------------------------------------------TEAM PAGE--------------------------------------------------------------- */

#hero-team-bg-img{
  background-image: url(../Images/team/team-pic\ \(3\).png);
}
.blue-text{
  color: rgba(35, 97, 146, 1);
}

.leadership-team{
  font-family: Bellota Text;
  text-align: center;
  margin-top: 10%;
}
.leadership-team h1{
  color: rgba(35, 97, 146, 1);
  font-size: 80px;
  text-transform: uppercase;
  font-weight: 400;
}
.leadership-team-inner{
  display: flex;
  justify-content: center;
  align-items: center;
  background: linear-gradient(180deg, #F1F1F1 0%, #DFE5EA 100%);
  padding: 5%;
  margin: 3% 0px 3% 0px;
  gap: 8%;
}
.leadership-cart h2 {
  color: rgba(35, 97, 146, 1);
  font-size: 30px;
  margin-top: 4%;
}
.leadership-cart h3 {
  color:rgba(112, 120, 118, 1);
  font-size: 22px;
  margin-top: 3%;
}

.leadership-cart-img img{
  width: 100%;
  border-radius: 10px 10px 40px 10px;
}

.team-values{
  font-family: Bellota Text;
  width: 75%;
  margin: 10% auto;
}
.team-values h1{
  font-size: 60px;
  font-weight: 400;
  color: rgba(35, 97, 146, 1);
  text-align: center;
  text-transform: uppercase;
}

.team-values-inner{
  display: flex;
  align-items: center;
  margin-top: 50px;
}
.team-values-text{
  max-width: 70%;
}
.team-values-text p{
  line-height: 30px;
  color: rgba(84, 90, 89, 1);
  font-weight: bolder;
  font-size: 22px;
}
.team-values-img{
  max-width: 30%;
}
.team-values-img img{
  width: 90%;
}



/* ----------------------------------------------INSIGHTS PAGE------------------------------------------------------------ */

#hero-insights-bg{
  background: linear-gradient(180deg, #F0F0F0 24.2%, #BBCCDB 254.71%);
  width: 100%;
  height: 650px;
}
.hero-insights-text{
  font-family: Bellota Text;
  text-align: center;
  padding: 5%;
}
.insight-hero-h1{
  color: rgba(35, 97, 146, 1);
  font-size: 90px;
  font-weight: 500;
}
.insight-hero-h6{
  color: rgba(87, 87, 87, 1);
  font-size: 38px;
  font-weight: 600;
  margin: 3% auto;
  width: 80%;
}

.insights-page-cart{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: -100px;
  font-family: Bellota Text;
  padding: 0px 8% 8% 8%;
}


.insight-cart{
  width: 80%;
}
.insight-cart-inner{
  box-shadow: 3px 3px 8px rgb(152, 151, 151);
  border-radius: 10px;
}
.insight-cart-text{
  width: 280px;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10% 5% 5% 10%;
}


.insight-cart-text h4{
  color: rgba(35, 97, 146, 1);
  font-size: 30px;
  font-weight: 400;
  text-align: left;
  text-transform: uppercase;
}
.insight-cart-text p{
  color: rgba(112, 120, 118, 1);
}
.insight-cart-text a{
  color: rgba(112, 120, 118, 1);
  text-decoration: none;
}


/* ---------------------------------------------------Contact Page----------------------------------------------------- */

.contact-content{
  display: flex;
  justify-content: center;
  font-family: Bellota Text;
  padding: 7%;
}
.contact-form h1{
  font-size: 60px;
  color:rgba(35, 97, 146, 1) ;
  text-align: center;
  font-weight: 500;
}
.contact-details{
  background-color: rgba(35, 97, 146, 1) ;
  color: whitesmoke;
  border-radius: 20px;
  padding: 3% 4% 3% 4%;
  width: 38%;
  height: 700px;
  margin: 0px 2% 0px 2%;
  box-sizing: border-box;
}
.contact-details-text-inner{
  margin-top: 10%;
}
.contact-details-text-inner h1{
  font-size: 40px;
}
.contact-details-text-inner p{
  font-size: 20px;
  margin-top: 10px;
}
.contact-details-text-inner a{
  font-size: 20px;
  color: whitesmoke;
  text-decoration: none;
}
.contact-details-text-inner label{
  font-size: 20px;
}
.contact-details-text-inner i{
  font-size: 40px;
  margin-top: 10px;
}
.contact-page-button{
  margin-top: 16px;
  width: 220px;
  height:50px;
  background-color: white;
  border-radius: 50px;
  font-family: Bellota Text;
  font-size: 18px;
  border: 2px solid rgba(35, 97, 146, 1);
  color: rgba(35, 97, 146, 1);
  letter-spacing: 1px;
  box-shadow: 3px 3px 10px gray;
  margin-left: 30%;
}
.contact-input{
  width: 45%;
  height: 60px;
  font-family: Bellota Text;
  font-size: 17px;
  padding-left: 15px;
  background-color: rgb(232, 230, 230);
  border-radius: 10px;
  border: 0px solid white;
  margin: 2% 1% 2% 1%;
}
.contact-input-mobile{
  width: 95%;
  height: 60px;
  font-family: Bellota Text;
  font-size: 17px;
  padding-left: 15px;
  background-color: rgb(232, 230, 230);;
  border-radius: 10px;
  border: 0px solid white;
  margin: 2% 1% 2% 1%;
}
.contact-input-message{
  width: 95%;
  font-family: Bellota Text;
  font-size: 17px;
  padding-left: 2%;
  padding-top: 2%;
  background-color: rgb(232, 230, 230);;
  border-radius: 10px;
  border: 0px solid white;
  margin: 3% 1% 3% 1%;
}
.contact-form{
  box-sizing: border-box;
  width: 60%;
}































































/* Media Quries */
/* Extra large devices (large laptops and desktops, 1200px and up) */
@media only screen and (max-width: 1200px ) {
/* Nav Start */
.nav-links li {
  margin: 0px 2% 0px 2% ;
}
.nav-links li a{
  font-size: 15px;
}
.nav-link-big-width {
  width: 120px;
}

.section-3-left-inner h1{
  font-size: 35px;
  line-height: 30px;
}
.section-3-left-inner-2 h1{
  font-size: 35px;
  line-height: 35px;
}

.section-3-left-inner p{
  font-size: 18px;
  line-height: 18px;
}
.section-3-left-inner-2 p{
  font-size: 18px;
  line-height: 18px;
}
.section-3-para-bold{
  font-size: 18px;
}






  }
  
  /* Large devices (laptops/desktops, 1024px and up) */
  @media only screen and (max-width: 1024px) {
    .hamburger{  
      display: block;
      padding: 15px;
    }
    .desktop-nav{
      display: none;
    }
    nav{
      justify-content: space-between;
    }
    .mobile-nav{
      display: block;
      position: absolute;
      width: 100%;
      z-index: 9999;
    }
    #link{
      display: block;
      text-decoration: none;
      text-transform: capitalize;
      font-family: asap;
      color: white;
      padding: 10px;
      background-color: rgba(34, 94, 141, 1);
      cursor: pointer;
      text-align: center;
      transition: all 500ms;
    }
    #link:hover{
      background-color: white;
      color: rgba(34, 94, 141, 1);
    }
    .mid-section-main {
      padding: 3% 2% 3% 2%;
    }
    .mid-section-part-2 img{
      width: 100%;
      height: 100%;
      left: 0%;
    }
    
.section-3{
  flex-direction: column;
}
.section-3-part-2{
  flex-direction: column-reverse;
}

.section-3-left{
  max-width: 100%;
  height: auto;
}

.section-3-right{
  max-width: 100%;
  height: auto;
}
.section-3-right img{
  width: 100%;
  height: auto;
}

.section-3-left-bg {
  position: static;
  left: 0vw;
  top: 0vh;
  height: auto;
  width: 80%;
  margin: 4% auto;
}
.section-3-left-bg-2{
  position: static;
  right: 0vw;
  top: 0vh;
  height: auto;
  width: 80%;
  margin: 4% auto;
}
.section-3-left-inner {
  padding: 6% 12% 6% 5%;
}
.section-3-left-inner-2{
  padding: 6% 12% 6% 5%;
}

.section-3-left-inner h1{
  font-size: var(--heading-3);
  line-height: 40px;
}
.section-3-left-inner-2 h1{
  font-size: var(--heading-3);
  line-height: 40px;
}

.section-3-left-inner p{
  font-size: 20px;
  line-height: 24px;
}
.section-3-left-inner-2 p{
  font-size: 20px;
  line-height: 24px;

}
.section-3-para-bold{
  font-size: 20px;
}

  .giving-section{
    margin: 120px 0px 50px 0px ;
  }
  .giving-section h1{
    font-size: 70px;
  }
  .giving-inner {
    width: 100%;
    height: 220px;
}
  .giving-text{
    border: 4px solid rgba(255, 255, 255, 1);
    width: 900px;
  }
  .giving-text p{
    padding: 30px 20px 30px 20px;
    font-size: 18px;
  }
  
  .faq-section{
    margin: 120px 40px 120px 40px;
  }
  
  .faq-section h1{
    font-family: Bellota Text;
    font-size: 70px;
    font-weight: 400;
    line-height: 70px;
    margin-bottom: 60px;
   
  }
  .faq-section-lower{
    background-color: rgba(240, 240, 240, 1);
    border-radius: 10px ;
    height: 220px;
    width: 98%;
    margin: 20px auto;
  }
  .faq-inner{
    padding: 50px 0px 0px 50px ;
  }
  .faq-inner h4{
    font-size: 22px;
    font-weight: 900;
    text-transform: uppercase;
    color: rgba(117, 135, 129, 1);
  
  }
  .faq-inner p{
    margin-top: 10px;
    font-size: 20px;
    font-weight: 800;
    color: rgba(127, 135, 132, 0.768);
    width: 750px;
  }


  .section-team{
    margin: 120px 0px 120px 0px;
  }
  
  .section-team-text{
    padding: 20px 20% 20px 20%;
  }
  .section-team-text h1{
    font-size: 60px;
    font-weight: 400;
    line-height: 60px;
  }
  .section-team-text p{
    margin-top: 50px;
    font-size: 18px;
    color: rgba(112, 120, 118, 0.802);
    font-weight: 700;
  }
  .section-team-carts{
    display: flex;
    gap: 125px;
    justify-content: center;
    flex-wrap: wrap;
    align-items: center;
  }
  .team-cart{
    width: 220px;
  }
  .team-cart-pic img{
    width: 100%;
  }
  .team-cart h4{
    margin-top: 30px;
    color: rgb(112, 120, 118);
    font-size: 22px;
  }
  .team-cart p{
    color: rgba(112, 120, 118, 0.802);
    font-size: 20px;
    font-weight: 500;
  
  }

  /* ------------------------------------------------------------------Contact page------------------------------------------------ */
  
.contact-content{
  flex-direction: column;
  justify-content: unset;
  align-items: center;
  padding: 0%;
}
.contact-form{
  margin-top: 10%;
}

.contact-details{
  padding: 1% 4% 1% 4%;
  width: 95%;
  height: auto;
  margin: 5% 2% 5% 2%;
}
.contact-details-text-inner{
  margin: 8% 0% 8% 0%;
}
.contact-details-text-inner h1{
  font-size: 60px;
  width: 40%;
  margin-bottom: 3%;
}
.contact-details-text-inner p{
  font-size: 20px;
  margin-top: 3%;
}

.contact-input{
  width: 46%;
  height: 60px;
  font-size: 17px;
  padding-left: 15px;
  margin: 2% 0% 2% 0.5%;
}
.contact-input-mobile{
  width: 95%;
  height: 60px;
  font-size: 17px;
  padding-left: 15px;
  margin: 2% 0% 2% 0%;
}
.contact-input-message{
  width: 95%;
  font-size: 17px;
  padding-left: 2%;
  padding-top: 2%;
  margin: 3% 0% 3% 0%;
}
.contact-form{
  width: 95%;
}
.contact-page-button {
  margin-top: 16px;
  width: 220px;
  height: 50px;
  font-size: 18px;
  margin-left: 40%;
}

/* -----------------------------------------------------------Insight Page------------------------------------------------- */

.hero-insights-text{
  padding: 10% 5% 5% 5%;
}
.insight-hero-h1{
  font-size: 70px;
  font-weight: 500;

}
.insight-hero-h6{
  font-size: 35px;
  font-weight: 600;
  margin-top: 40px;
}

.insights-page-cart{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: -100px;
  font-family: Bellota Text;
  padding: 0px 0% 8% 24%;
}


.insight-cart{
  width: 80%;
}
.insight-cart-inner{
  width: 70%;
}
.insight-cart-img{
  width: 100%;
}
.insight-cart-img img{
  width: 100%;
}

.insight-cart-text{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10% 5% 5% 10%;
}

/* ----------------------------------------------Team Page------------------------------------------------------------------ */
.hero-inner-text h1 {
  font-size: 70px;
  line-height: 85px;
  width: 95%;
}
.hero-inner-text h6 {
  font-size: 40px;
  margin-top: 2%;
}

.leadership-team h1 {
  font-size: 65px;
}
.leadership-team-inner {
  gap: 20%;
  flex-wrap: wrap;
}
.leadership-cart{
  margin-top: 5%;
}
/* -----------------------------------------------------------Social Impact Page-------------------------------------------- */
.social-page-button {
  width: 17%;
}
.social-help-note {
  width: 90%;
}
.social-mcdonald-inner-img img {
  width: 128%;
  margin-left: -35%;
}

/* -------------------------------------------------------------Board Page--------------------------------------------------------- */
.board-mid-section-right-img {
  flex-direction: column;
}
.board-mid-section-left-img {
  flex-direction: column-reverse;
}
.board-mid-section-right-img-part-1 {
  max-width: 100%;
}
.board-mid-section-right-img-part-2 {
  max-width: 100%;
}
.board-mid-section-left-img-part-1 {
  max-width: 100%;
}
.board-mid-section-left-img-part-2 {
  max-width: 100%;

}
.board-mid-section-right-border {
  border: 3px solid white;
  margin: 3%;
  left: 0%;
}
.board-mid-section-left-border {
  margin: 3%;
  right: 0%;
}
.board-mid-section-right-inner {
  padding: 4% 3% 4% 4%;
}
.board-mid-section-right-inner h1 {
  font-size: 36px;
  line-height: 36px;
}
.board-mid-section-right-inner p {
  font-size: 18px;
}
.board-mid-section-right-inner h2 {
  font-size: 28px;
  line-height: 38px;
}
.board-ms-icon img {
  width: 2.5%;
}
.board-mid-section-right-inner a {
  font-size: 19px;
}
.board-mid-section-left-inner {
  padding: 4% 3% 4% 4%;
}
.board-mid-section-left-inner h1 {
  font-size: 36px;
  line-height: 36px;
}
.board-mid-section-left-inner p {
  font-size: 18px;
}
.board-mid-section-left-inner h2 {
  font-size: 24px;
}
.board-mid-section-left-inner a {
  font-size: 19px;
}
.board-join-us-text p {
  font-size: 18px;
}

.board-join-us-text button {
  width: 26%;
}

/* ------------------------------------------------------Investment Page--------------------------------------------------*/

.invest-spotlight-lower-text {
  padding: 50px 20% 50px 20%;
}
.different-text {
  width: 90%;
  padding: 5% 10px 5% 10px;
}
.different-text-bold {
  font-size: 22px;
  font-weight: 400;
}
.different-text p {
  font-size: 18px;
}
.different-section-lower {
  height: 550px;
}
.invest-certeria-inner {
 flex-direction: column-reverse;
}
.invest-certeria-text {
  max-width: 100%;
  padding: 10% 50px 0px 50px;
}
.invest-certeria-img {
  max-width: 100%;
}
.section-team-text {
  padding: 0px 50px 14% 50px;
}
  
.section-team-text p {
  margin-top: 10%;
  font-size: 25px;
}

  } 
  
  /* Medium devices (landscape tablets, 768px and up) */
  @media only screen and (max-width: 768px) {

  .mid-section-part-2 img {
      width: 85%;
      height: 90%;
      position: relative;
      left: 10%;
  }
  .mid-section-part-2-pic-2 img {
    width: 85%;
    height: 90%;
}
  
  .mid-section-part-1 {
    max-width: 50%;
    margin: 3% 0% 3% 0%;
    padding: 5% 0% 5% 0%;
  }
.mid-section-part-1 h1 {
  font-size: 30px;
  line-height: 32px;
  width: 100%;
 }
 .mid-section-right-part-1 h1 {
  font-size: 30px;
  line-height: 32px;
  width: 100%;
}
.mid-section-part-1 p {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}
.mid-section-right-part-1 p {
  font-size: 18px;
  line-height: 24px;
  width: 100%;
}
.mid-section-main {
  padding: 3% 3% 3% 3%;
}
.divider {
  margin: 2.5% -10% 2.5% 30%;
}
.divider-pic-2 {
  margin: 2.5% 10% 2.5% -15%;
}






  .giving-section{
    margin: 40px 0px 0px 0px ;
  }
  .giving-section h1{
    font-size: 70px;
  }

  .giving-text{
    border: 4px solid rgba(255, 255, 255, 1);
    width: 600px;
  }
  .giving-text p{
    padding: 50px 130px 50px 130px;
  }

  
.section-3{
  flex-direction: column;
  justify-content: unset;
  margin: 50px 0px 50px 0px;
}
.section-3-left{
  max-width: 100%;
  padding: 0px 0px 0px 0px;
}
.section-3-left-bg{
  background: linear-gradient(180deg, #F1F1F1 0%, #E2E8ED 100%);

}
.section-3-left-inner {
  width: auto;
  padding: 80px 50px 80px 50px;
}
.section-3-left-inner h1{
  color: rgba(35, 97, 146, 1);
  font-size: 50px;
  font-weight: 300;
  line-height: 60px;
}
.section-3-para-bold{
  font-weight: bolder;
  margin-top: 10px;
}

.section-3-right{
  max-width: 100%;
  padding: 0px 10px 0px 10px;
  background: linear-gradient(180deg, #F1F1F1 0%, #E2E8ED 100%);
}
.section-3-right img{
  width: 100%;
}

.section-3-left-inner-2 {
  width: auto;
  padding: 50px 50px 50px 50px;
}


.giving-section{
  margin: 120px 0px 50px 0px ;
}
.giving-section h1{
  font-size: 70px;
}
.giving-inner {
  width: 100%;
  height: 220px;
}
.giving-text{
  border: 4px solid rgba(255, 255, 255, 1);
  width: 700px;
}
.giving-text p{
  padding: 30px 30px 30px 30px;
  font-size: 18px;
}

.faq-section{
  margin: 120px 40px 120px 40px;
}

.faq-section h1{
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
  margin-bottom: 60px;
 
}
.faq-section-lower{
  height: 200px;
  width: 98%;
}
.faq-inner{
  padding: 50px 0px 0px 50px ;
}
.faq-inner h4{
  font-size: 20px;
  font-weight: 900;

}
.faq-inner p{
  margin-top: 10px;
  font-size: 18px;
  font-weight: 800;
  width: 600px;
}
.section-team{
  margin: 120px 0px 120px 0px;
}

.section-team-text{
  padding: 20px 50px 120px 50px;
}
.section-team-text h1{
  font-size: 60px;
  font-weight: 400;
  line-height: 60px;
}
.section-team-text p{
  margin-top: 50px;
  font-size: 18px;
  color: rgba(112, 120, 118, 0.802);
  font-weight: 700;
}
.section-team-carts{
  display: flex;
  gap: 50px;
  justify-content: space-evenly;
  flex-wrap: wrap;
  align-items: center;
}
.team-cart{
  width: auto;
}
.team-cart-pic img{
  width: 100%;
}
.team-cart h4{
  margin-top: 30px;
  color: rgb(112, 120, 118);
  font-size: 22px;
}
.team-cart p{
  color: rgba(112, 120, 118, 0.802);
  font-size: 20px;
  font-weight: 500;

}

#footer-nav-links{
  flex-direction: column;
  text-align: center;
}

.footer-logo{
  padding-left: 45px;
}
/* -----------------------------------------------------------Contact Page-------------------------------------------------- */
.contact-input{
  width: 95%;
  height: 60px;
  font-size: 17px;
  margin: 1% 0% 1% 0.5%;
}

.contact-input-mobile{
  width: 95%;
  height: 60px;
  font-size: 17px;
  padding-left: 15px;
  margin: 1% 0% 1% 0%;
}
.contact-input-message{
  width: 95%;
  font-size: 17px;
  margin: 2% 0% 2% 0%;
}


.contact-details{
  padding: 1% 6% 1% 6%;
  width: 95%;
  height: auto;
  margin: 5% 2% 5% 2%;
}
.contact-details-text-inner{
  margin: 8% 0% 8% 0%;
}
.contact-details-text-inner h1{
  font-size: 60px;
  width: 60%;
  margin-bottom: 3%;
}
.contact-details-text-inner p{
  font-size: 20px;
  margin-top: 3%;
}


.contact-page-button {
  margin-top: 16px;
  width: 50%;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25%;
}


/* -----------------------------------------------------------Insight Page------------------------------------------------- */

.hero-insights-text{
  padding: 10% 5% 5% 5%;
}
.insight-hero-h1{
  font-size: 60px;
}
.insight-hero-h6{
  font-size: 28px;
}

/* ----------------------------------------------Team Page------------------------------------------------------------------ */
.leadership-team h1 {
  font-size: 60px;
}
.leadership-team-inner {
  gap: 5%;
}
.leadership-cart-img img {
  width: 80%;
}
.team-values h1 {
  font-size: 50px;
}
.team-values-inner {
  flex-direction: column;
}
.team-values-text{
  max-width: 100%;
}
.team-values-text p{
  line-height: 28px;
  font-size: 20px;
}
.team-values-img{
  max-width: 100%;
}
.team-values-img img{
  width: 90%;
}

/* ---------------------------------------------------------Social Impact------------------------------------------------------ */
.social-page-button {
  width: 24%;
}
.social-help-text h1 {
  font-size: 60px;
}
.social-help-text-p {
  font-size: 19px;
}
.social-mcdonald-inner-img img {
  width: 100%;
  margin-left: 0%;
}
.social-mcdonald{
  width: 80%;
  margin: 3% auto;
}
/* --------------------------------------------------------Investment page--------------------------------------------------- */
.invest-spotlight-inner {
  flex-direction: column;
}
.invest-spotlight-text {
  max-width: 100%;
  padding: 0% 0px 0px 0%;
}
.invest-spotlight-text-border {
  position: static;
  left: 0%;
  top: 0%;
  margin: 5% 8% 5% 8%;
}
.invest-spotlight-text-border p {
  padding: 6% 5% 6% 5%;
}
.invest-spotlight-img {
  max-width: 100%;
}
.invest-spotlight-lower-text {
  padding: 50px 10% 50px 10%;
}

} 
  
  /* Extra small devices (phones, 600px and down) */
  @media only screen and (max-width: 600px) {
    .hero-inner-text {
      position: relative;
      top: 120px;
  }
    .hero-main {
      background-image: url(../Images/Home/hero-section-mobile-bg.png);
      background-size: cover;
      height: 100vh;
    
  }
    .mid-section{
      padding:45px 10px 10px 10px;
      flex-direction: column-reverse;
    }
    .mid-section-part-1 h1 {
      display: none;
  }
    .mid-section-part-1{
      max-width: 100%;
      width: 400px;
      text-align: center;
      margin-top: -35px;
    }
    .mid-section-part-2{
      max-width: 100%;
      padding: 0px 0px 0px 0px;
    }
    .mid-section-part-2 img{
      width: 90%;
      padding: 0px 10px 0px 10px;
    }
    .mid-section-part-2-pic-2 img{
      width: 90%;
      padding: 0px 10px 0px 10px;
    }
    .mid-section-part-1 p {
      font-size: 15px;
      padding: 0px 20px 0px 20px;
      text-align: center;
  }
    .hero-inner-text h1 {
      font-size: 60px;
      line-height: 65px;
  }
  .hero-inner-text h6 {
    font-size: 35px;
    margin-top: 2%;
}
  .hero-inner-text h4 {
    font-size: 30px;
    line-height: 42px;
  }
  .divider {
    display: none;
}
.divider-pic-2{
  display: none;
}
.mid-section-part-1-mobile-heading{
  display: flex;
}

.mid-section-right{
 flex-direction: column-reverse;
}
.mid-section-right-part-1{
  max-width: 100%;
  text-align: center;
}
.mid-section-right-part-1 h1{
  display: none;
}
.mid-section-right-part-1 p{
  font-size: 20px;
  line-height: 28px;
  width: 70%;
  margin: 0 auto;

}
.mid-section-part-2-pic-2{
  max-width: 100%;
}

.mid-section-part-2-pic-2 img{
  width: 90%;
  height: 90%;
}


.giving-section{
  margin: 120px 0px 50px 0px ;
}
.giving-section h1{
  font-size: 50px;
}
.giving-inner {
  width: 100%;
  height: 220px;
}
.giving-text{
  border: 4px solid rgba(255, 255, 255, 1);
  width: 500px;
  margin: 10px;
}
.giving-text p{
  padding: 20px 10px 20px 10px;
  font-size: 15px;
}

.faq-section{
  margin: 100px 30px 100px 30px;
}

.faq-section h1{
  font-size: 40px;
  font-weight: 400;
  line-height: 50px;
  margin-bottom: 40px;
 
}
.faq-section-lower{
  height: 200px;
  width: 370px;
}
.faq-inner{
  padding: 20px 0px 0px 15px ;
}
.faq-inner h4{
  font-size: 22px;
  font-weight: 600;

}
.faq-inner p {
  margin-top: 8px;
  font-size: 18px;
  font-weight: 600;
  width: 320px;
  line-height: 22px;
}


.section-team{
  margin: 120px 0px 120px 0px;
}

.section-team-text{
  padding: 20px 10px 120px 10px;
}
.section-team-text h1{
  font-size: 40px;
  font-weight: 400;
  line-height: 40px;
}
.section-team-text p{
  margin-top: 50px;
  font-size: 17px;
  color: rgba(112, 120, 118, 0.802);
  font-weight: 700;
}
.section-team-carts{
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.team-cart{
  width: 250px;
}
.team-cart-pic img{
  width: 85%;
  margin-top: 20px;
}
.team-cart h4{
  margin-top: 30px;
  font-size: 30px;
}
.team-cart p{
  color: rgba(112, 120, 118, 0.802);
  font-size: 24px;
  font-weight: 500;
}

.insight-section h1{
  font-size: 40px;
  line-height: 40px;
}


.section-3{
  flex-direction: column;
  justify-content: unset;
  margin: 30px 0px 30px 0px;
}
.section-3-left{
  max-width: 100%;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.section-3-left-bg{
  padding: 20px 10px 20px 10px;
}
.section-3-left-inner {
  width: 300px;
  padding: 15px 10px 50px 10px;
}
.section-3-left-inner h1{
  font-size: 40px;
  line-height: 40px;
}
.section-3-para-bold{
  margin-top: 10px;
}

.section-3-right{
  max-width: 100%;
  padding: 0px 10px 0px 15px;
}
.section-3-right img{
  width: 100%;
}

.section-3-left-inner-2 {
  width: 300px;
  padding: 50px 0px 50px 20px;
}
.section-3-left-inner-2 h1{
  font-size: 35px;
  line-height: 35px;
}

.section-3-left-inner p {
  font-size: 22px;
  margin-top: 20px;
}

.section-3-left-inner-2 p {
  font-size: 22px;
  margin-top: 20px;
}

.testimonial-section h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  padding: 50px 0px 20px 0px;
}


#ms-part-2-position {
  text-align: center;
  margin-bottom: 20px;
}
.faq-inner p {
  margin-top: 10px;
  font-size: 18px;
  font-weight: 800;
  width: 90%;
}

/* -----------------------------------------------------------Contact Page-------------------------------------------------- */
.contact-form {
  width: 95%;
  margin-top: 20%;
}

.contact-form h1 {
  font-size: 40px;
  font-weight: 500;
  margin: 3% 0px 3% 0px;
}


.contact-input{
  width: 90%;
  height: 60px;
  font-size: 17px;
  margin: 2% 2% 2% 2%;
}

.contact-input-mobile{
  width: 90%;
  height: 60px;
  font-size: 17px;
  padding-left: 15px;
  margin: 2% 2% 2% 2%;
}
.contact-input-message{
  width: 90%;
  font-size: 17px;
  margin: 3% 2% 2% 2%;
}


.contact-details{
  padding: 1% 6% 1% 6%;
  width: 90%;
  height: auto;
  margin: 5% 3% 5% 3%;
}
.contact-details-text-inner{
  margin: 8% 0% 8% 0%;
}
.contact-details-text-inner h1{
  font-size: 40px;
  width: 80%;
  margin-bottom: 3%;
}
.contact-details-text-inner p{
  font-size: 20px;
  margin-top: 3%;
}


.contact-page-button {
  margin-top: 16px;
  width: 50%;
  height: 45px;
  font-size: 18px;
  font-weight: 600;
  margin-left: 25%;
}


/* -----------------------------------------------------------Insight Page------------------------------------------------- */


.insight-hero-h1{
  font-size: 50px;
  font-weight: 500;

}
.insight-hero-h6{
  font-size: 25px;
  margin-top: 30px;
}

.insights-page-cart{
  display: flex;
  flex-wrap: wrap;
  gap: 40px;
  margin-top: -100px;
  font-family: Bellota Text;
  padding: 0px 0% 5% 1%;
}


.insight-cart-inner{
  width: 90%;
  margin: 0 auto;
}
.insight-cart-img{
  width: 100%;
}
.insight-cart-img img{
  width: 100%;
}

.insight-cart-text{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 20px;
  padding: 10% 5% 5% 10%;
}

/* ----------------------------------------------Team Page------------------------------------------------------------------ */
.leadership-team h1 {
  font-size: 40px;
}
.leadership-team-inner {
  gap: 5%;
}
.leadership-cart-img img {
  width: 80%;
}
.leadership-cart h2 {
  font-size: 28px;
}
.team-values h1 {
  font-size: 40px;
}

.team-values-text p{
  line-height: 26px;
  font-size: 18px;
}

.team-values-img img{
  width: 90%;
}

.mid-section-part-1-mobile-heading {
  font-size: 36px;
  line-height: 34px;
}
.mid-section-part-1 p {
  font-size: 20px;
  padding: 20% 10px 0px 10px;
}
.mid-section-part-2 img {
  width: 95%;
  padding: 0px 0px 0px 0px;
}

/* ----------------------------------------------Social Impact----------------------------------------------------------------- */
.social-contact-inner p {
  font-size: 19px;
  width: 90%;
}
.social-page-button {
  width: 40%;
}
.social-help-text h1 {
  font-size: 45px;
}
.social-help-text-p {
  font-size: 18px;
}
.social-help-note {
  font-size: 18px;
}
.social-mcdonald-inner {
  flex-direction: column;
}
/* ----------------------------------------------------Board Page---------------------------------------------------------- */
.board-join-us-text h1 {
  font-size: 40px;
}
.board-join-us-text p {
  font-size: 17px;
}
.board-join-us-text {
  width: 80%;
  padding: 3%;
}
.board-join-us-text button {
  width: 50%;
  height: 42px;
  font-size: 16px;
  letter-spacing: 2px;
  }
  .board-mid-section-right-inner h1 {
    font-size: 34px;
    line-height: 34px;
    text-align: center;
}
.board-mid-section-right-inner p {
  font-size: 16px;
  text-align: center;
}
.board-mid-section-right-inner h2 {
  font-size: 26px;
  line-height: 32px;
  text-align: center;
  margin-bottom: 2%;
}

.board-mid-section-left-inner h1 {
  font-size: 34px;
  line-height: 34px;
  text-align: center;
}
.board-mid-section-left-inner p {
  font-size: 16px;
  text-align: center;
}
.board-mid-section-left-inner h2 {
  font-size: 24px;
  text-align: center;
}
/* -------------------------------------------------------Investment page----------------------------------------------- */

.contact-msg {
  width: 100%;
  font-size: 18px;
  height: 30px;
}
.contact-button {
  width: 60%;
  font-size: 18px;
  margin-top: 15%;
}
.invest-contact-inner h2 {
  font-size: 40px;
}
.invest-contact-inner p {
  font-size: 18px;
  width: 85%;
}

.invest-spotlight-last {
  width: 95%;
  border-radius: 0px 0px 0px 0px;
  padding: 15px 1% 15px 1%;
  margin: 10px auto;
  flex-direction: column-reverse;
}
.invest-spotlight-last-img img {
  width: 50%;
}
.invest-spotlight-last-img {
  margin-left: 0px;
}
.invest-spotlight-last-text p {
  text-align: center;
  font-size: 18px;
}

.invest-spotlight-last-text h2 {
  text-align: center;
  font-size: 26px;
  margin: 2% auto;
}
.invest-spotlight-last-text {
  margin: 6% auto;
}
.invest-spotlight-last-img img {
  width: 60%;
  box-shadow: 3px 3px 5px gray;
  border-radius: 50%;
  margin: 6% auto;
}
.different-section-lower {
  height: 580px;
}
.spotlight-lower-text-inner h2 {
  font-size: 32px;
}
.spotlight-lower-text-inner p {
  font-size: 16px;
}
.invest-spotlight-lower-text {
  padding: 50px 10% 50px 14%;
}
}


  @media only screen and (max-width: 425px) {
  
  }



  @media only screen and (max-width: 375px) {
    .hero-inner-text h1 {
      font-size: 55px;
      line-height: 55px;
  }
  .hero-inner-text h4 {
    font-size: 26px;
    line-height: 38px;
}
    .mid-section-part-1-mobile-heading {
      font-size: 32px;
      line-height: 34px;
      padding: 20px 0px 20px 0px;
  }
  .mid-section-part-1 p {
    font-size: 19px;
    padding: 20% 16px 0px 16px;
}
.faq-section{
  margin: 80px 10px 80px 10px;
}

.faq-section h1{
  font-size: 38px;
  font-weight: 400;
  line-height: 38px;
  margin-bottom: 40px;
 
}
.faq-section-lower{
  height: 160px;
  width: 350px;
}
.faq-inner{
  padding: 18px 0px 0px 18px ;
}
.faq-inner h4{
  font-size: 13px;
  font-weight: 700;

}
.faq-inner p{
  margin-top: 6px;
  font-size: 12px;
  font-weight: 600;
  width: 250px;
}
.section-team{
  margin: 110px 0px 110px 0px;
}

.section-team-text{
  padding: 20px 10px 100px 10px;
}
.section-team-text h1{
  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
}
.section-team-text p{
  margin-top: 30px;
  font-size: 17px;
  color: rgba(112, 120, 118, 0.802);
  font-weight: 700;
}
.section-team-carts{
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.team-cart{
  width: 250px;
}
.team-cart-pic img{
  width: 75%;
  margin-top: 20px;
}
.team-cart h4{
  margin-top: 15px;
  font-size: 28px;
}
.team-cart p{
  color: rgba(112, 120, 118, 0.802);
  font-size: 24px;
  font-weight: 500;
}


.section-3{
  flex-direction: column;
  justify-content: unset;
  margin: 30px 0px 30px 0px;
}
.section-3-left{
  max-width: 100%;
  padding: 0px 0px 0px 0px;
  text-align: center;
}
.section-3-left-bg{
  padding: 0px 10px 20px 20px;
}
.section-3-left-inner {
  width: 260px;
  padding: 50px 10px 50px 10px;
}
.section-3-left-inner h1{
  font-size: 35px;
  line-height: 35px;
}
.section-3-para-bold{
  margin-top: 10px;
}

.section-3-right{
  max-width: 100%;
  padding: 0px 10px 0px 10px;
}
.section-3-right img{
  width: 100%;
}

.section-3-left-inner-2 {
  width: 260px;
  padding: 50px 20px 50px 20px;
}
.section-3-left-inner-2 h1{
  font-size: 38px;
  line-height: 35px;
}

.testimonial-section h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  padding: 50px 0px 20px 0px;
}

/* ----------------------------------------------Team Page------------------------------------------------------------------ */
.hero-inner-text h6 {
  font-size: 28px;
  margin-top: 2%;
}
.team-values h1 {
  font-size: 36px;
}

/* ---------------------------------------------------Board Page -------------------------------------------------------------- */


/* -----------------------------------------------------------Investment Page----------------------------------------------------- */
.hero-inner-text h6 {
  font-size: 28px;
  margin-top: 2%;
  line-height: 28px;
}

.different-section-lower {
  height: 640px;
}
  }





  @media only screen and (max-width: 320px) {
    .hero-inner-text h1 {
      font-size: 52px;
      line-height: 52px;
  }
  .hero-inner-text h4 {
    font-size: 25px;
    line-height: 36px;
}

.section-team{
  margin: 110px 0px 110px 0px;
}

.section-team-text{
  padding: 20px 10px 100px 10px;
}
.section-team-text h1{
  font-size: 45px;
  font-weight: 400;
  line-height: 45px;
}
.section-team-text p{
  margin-top: 30px;
  font-size: 17px;
  color: rgba(112, 120, 118, 0.802);
  font-weight: 700;
}
.section-team-carts{
  display: flex;
  gap: 40px;
  justify-content: center;
  flex-wrap: wrap;
  align-items: center;
  flex-direction: column;
}
.team-cart{
  width: 230px;
}
.team-cart-pic img{
  width: 70%;
  margin-top: 15px;
}
.team-cart h4{
  margin-top: 30px;
  font-size: 26px;
}
.team-cart p{
  color: rgba(112, 120, 118, 0.802);
  font-size: 22px;
  font-weight: 500;

}
.faq-section{
  margin: 80px 10px 80px 10px;
}

.faq-section h1{
  font-size: 35px;
  font-weight: 400;
  line-height: 35px;
  margin-bottom: 40px;
 
}
.faq-section-lower{
  height: 160px;
  width: 280px;
}
.faq-inner{
  padding: 15x 0px 0px 15px ;
}
.faq-inner h4{
  font-size: 13px;
  font-weight: 700;

}
.faq-inner p{
  margin-top: 6px;
  font-size: 12px;
  font-weight: 600;
  width: 230px;
}



.section-3{
  flex-direction: column;
  justify-content: unset;
  margin: 30px 0px 30px 0px;
}
.section-3-left{
  max-width: 100%;
  padding: 0px 0px 0px 0px;
}
.section-3-left-bg{
  padding: 20px 0px 20px 0px;
}
.section-3-left-inner {
  width: 260px;
  padding: 50px 3px 50px 3px;
}
.section-3-left-inner h1{
  font-size: 35px;
  line-height: 35px;
}
.section-3-para-bold{
  margin-top: 10px;
}

.section-3-right{
  max-width: 100%;
  padding: 0px 10px 0px 10px;
}
.section-3-right img{
  width: 100%;
}

.section-3-left-inner-2 {
  width: 260px;
  padding: 50px 10px 50px 5px;
}
.section-3-left-inner-2 h1{
  font-size: 35px;
  line-height: 35px;
}
.section-3-left-inner p {
  font-size: 18px;
  margin-top: 20px;
  text-align: center;
}
.section-3-left-inner-2 p {
  font-size: 18px;
  margin-top: 20px;
}

.testimonial-section h1 {
  font-size: 35px;
  font-weight: 400;
  line-height: 40px;
  padding: 50px 0px 20px 0px;
}

/* -----------------------------------------------------------Contact Page-------------------------------------------------- */


.contact-form h1 {
  font-size: 38px;
  font-weight: 500;
  margin: 3% 0px 3% 0px;
}

.contact-page-button {
  margin-top: 16px;
  width: 50%;
  height: 45px;
  font-size: 15px;
  font-weight: 600;
  margin-left: 25%;
}


/* -----------------------------------------------------------Insight Page------------------------------------------------- */


.insight-hero-h1{
  font-size: 45px;
  font-weight: 500;

}
.insight-hero-h6{
  font-size: 22px;
  margin-top: 30px;
}

.insight-cart-inner{
  width: 95%;
  margin: 0 auto;
}

.insight-cart-text{
  width: 80%;
  display: flex;
  flex-direction: column;
  gap: 18px;
  padding: 10% 5% 5% 10%;
}

/* ------------------------------------------------Team Page----------------------------------------------------------------------- */
.mid-section-part-1 p {
  font-size: 18px;
  padding: 24% 16px 0px 16px;
}

/* -------------------------------------------------------Investment Page------------------------------------------------- */
.different-section-lower {
  height: 720px;
}



  }

